<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/main.js') }}" ></script>
</head>
<body>
  <h1>hallo {{name}}</h1>
  <input type = "button" onclick = "sayHello()" value = "Say Hello" />
  {% if marks%}
    <h1>{{marks}}</h1>
    {% if marks>50 %}
      <h1> Your result is pass!</h1>
    {% else %}
      <h1>Your result is fail</h1>
    {% endif %}
  {%endif%}
</body>
</html>